* {
    font-family: "Tahoma", "Verdana", "sans-serif";
}

body {
    background-color: blueviolet;
}

.block {
    background-color: aliceblue;

    border-style: solid;
    border-color: aliceblue;
    border-radius: 20px;

    padding-bottom: 1%;

    margin: auto;
    text-align: center;
    width: 40%;
}

.button {
    border-style: outset;
    border-color: black;
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    width: fit-content;
    height: fit-content;
    min-width: 120px;
    min-height: 40px;
    font-size: 125%;
}