* {
    font-family: "Tahoma", "Verdana", "sans-serif";
}

body {
    background-color: blueviolet;
}

ul {
    text-align: center;
    list-style-position: inside;
    padding-right: 20%;
}

.block {
    background-color: aliceblue;

    border-style: solid;
    border-color: aliceblue;
    border-radius: 20px;

    padding-bottom: 1%;

    margin: auto;
    text-align: center;
    width: 60%;
}

.button {
    border-style: outset;
    border-color: black;
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    width: fit-content;
    height: fit-content;
    min-width: 120px;
    min-height: 40px;
    font-size: 125%;
    background-color: lavender;
    color: black;
    text-decoration: none;
}

.lower {
    margin-top: 5%;
    margin-bottom: -5%;
}

.popForm {
    display: none
}

.reduce-horizontal {
    margin-left: 30%;
    margin-right: 30%;
}

#new_pizza {
    background-color: aquamarine;
}