<html>
    <head>
        <title>Welcome to Pizza Manager!</title>
        <link rel="stylesheet" href="static/landing_page.css"> 

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <content>
            <div class="block">
                <h1>Welcome to the Pizza Manager!</h1>
                <br>
                <h3>Are you here as the Owner or as a Chef?</h3>
                <br>
                <a id="ownerLink" class="button" href="toppings/">Owner</a>
                <br>
                <a id="chefLink" class="button" href="pizza/">Chef</a>
            </div>
        </content>
    </body>