{% extends "PizzaManager/default_page.html" %}
{% block title %}Pizza Overview{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/base.css">{% endblock %}
{% block content %}
    <h1>Welcome back, Chef!</h1>
    {% if pizzas_list %}
    <h3>Which pizza would you like to inspect?</h3>
        {% for pizza in pizzas_list %}
            <a id="pizza_{{ pizza.id }}" class="button" href="/pizza/{{ pizza.id }}/">{{ pizza.name }}</a><br>
        {% endfor %}
    {% else %}
        <p>No pizzas are available. Would you like to add one?</p>
    {% endif %}
    <a id="new_pizza" class="button" href="/pizza/new">Add Pizza</a>
{% endblock %}